* {
  margin-right: 0px;
  padding: 0px;
}

body,
html {
  margin: 0px;
  padding: 0px;
  font-family: Inter;
}

.card {
  position: relative;
  width: 200px;
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 2px;
  background-color: #fff;
  text-align: center;
  margin: 14px;
  padding: 20px;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0px 0px 7px 2px #c0c0c0;
}
.image {
  height: 250px;
  padding: 20px;
  background: #fff;
  margin: auto;
}

.product-img {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
  width: auto;
}

.title {
  width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  font-weight: 500;
  font-size: 22px;
}

.category {
  text-align: center;
}

.view-button {
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 0;
  padding: 10px 14px;
  font-family: 'Inter';
  border: 1px solid #6fb399;
  font-size: 16px;
  font-weight: 500;
}
.view-button:hover {
  background-color: #6fb399;
}

.single-button {
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 0;
  padding: 10px 14px;
  font-family: 'Inter';
  border: 1px solid #6fb399;
  font-size: 16px;
  font-weight: 500;
}

.singl-button:hover {
  background-color: #6fb399;
}

button {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  background-color: rgb(95, 170, 141);
  color: white;
  transition: 0.5s;
}

.ctgr {
  font-size: 18px;
  margin: 0;
  text-transform: capitalize;
  font-weight: 300;
  font-family: sans-serif;
  color: #555;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  opacity: 0.9;
  margin-bottom: 1rem;
  background-color: rgb(95, 170, 141);
}
.nav-logo {
  font-size: 32px;
  margin: 14px 0;
  color: #fff;
}

.navbar ul {
  text-align: center;
  justify-content: center;
}

.nav-cart {
  background: #fff;
  width: 60px;
  border: none;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  cursor: pointer;
}

.nav-cart:hover {
  opacity: 0.75;
}

.cart-image {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.nav-counter {
  font-size: 18px;
}

.single-card {
  width: 800px;
  margin: 2rem auto;
  display: flex;
  border: 3px solid green;
}

.single-image {
  height: 200px;
  padding: 20px;
  background: #fff;
  margin: auto;
}

.single-title {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: sans-serif;
}

.single-price {
  font-weight: 500;
  font-size: 22px;
}

.single-category {
  font-size: 15px;
  font-style: italic;
}

.single-desc {
  font-size: 20px;
  font-style: oblique;
}

.cartItem {
  margin-bottom: 1rem;
  display: flex;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.cartItem-image {
  width: 350px;
  object-fit: contain;
  border-radius: 10px;
}

.cartItem-title {
  font-size: 1rem;
  font-weight: bold;
}

.cartItem-price {
  font-size: 1rem;
  font-weight: bold;
}

.cartItem-action {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.6rem;
}

.cardItem-qty {
  display: flex;
  align-items: center;
}

.cardItem-qty input {
  padding: 10px;
  margin-left: 0.4rem;
  width: 60px;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  outline: none;
}

.deleteButton {
  width: 50px;
  height: 50px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
  transition: all ease-in-out 0.7s;
  outline: none;
}

.deleteButton img {
  width: 25px;
  height: 25px;
}

.mainCart {
  margin: 2rem auto;
  width: 1100px;
  display: flex;
  justify-content: space-between;
}

.mainCart-items {
  flex: 0.7;
  margin-right: 1rem;
}

.mainCart-summary {
  height: 250px;
  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.mainCart-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.mainCart-price {
  display: flex;
  align-items: center;
}

.mainCart-price span:nth-child(1) {
  font-size: 0.9rem;
  flex: 0.6;
}

.mainCart-price span:nth-child(2) {
  flex: 0.4;
  font-size: 1.2rem;
  font-weight: bold;
}

.mainCart-checkout {
  padding: 10px 17px;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  background: var(--primary-color);
  color: var(--light-color);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.mainCart-checkout:focus {
  outline: none;
  border: 1px solid var(--secondary-color);
}

.mainCart-checkout:hover {
  opacity: 0.75;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
}
